<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <form action="" method="POST">
            {% csrf_token %}
            <input type="Text" name="tendangnhap"/>
            <input type="Password" name="matkhau" />
            <input type="submit" value="Đăng nhập" />
            <a href="{% url 'polls' %}">Trang chủ</a>
        </form>
    </div>
</body>
</html>