{% extends 'polls/base.html' %}
{% block title%}Chi tiết lựa chọn{% endblock %}

{% block content %}
    <form action="{% url 'vote' qs.id %}" method="post">
        {% csrf_token %}
        {% if qs.choice_set.all %}
        <ul>
            {% for item in qs.choice_set.all %}
                <li><input type="radio" value="{{ item.id }}" name="choice">{{ item.choice_text}}</li>
            {% endfor %}
            <p><input type="submit" value="Gửi kết quả"></p>
            <a href="{% url 'list' %}">Quay lại</a>
        </ul>
        {% else %}
            <h3 style="color:red">Không có sự lựa chọn nào</h3>
            <a href="{% url 'list'%}">Quay lại danh sách</a>
        {% endif %}
    </form>
{% endblock %}