{% extends 'document/main.html' %}

{% block content %}
<!--Header-->
<section class="detail-section">
    <div class="container">
        <div class="row justify-content-center mb-2">
            <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Ban Kỹ Thuật</span>
            <h3 style="color: #162d61; font-weight: bold;">Tài liệu điện tử  {{radar.name}}</h3>
            </div>
        </div>
    </div>
</section>
<!--search-->
<section class="search-section" >
  <div class="row">
      <div class="col">
          <div class="card card-body m-3">
              <form method="get">
                  {{myFilter.form}}
                  <button class="btn btn-outline-primary" type="submit">Tìm kiếm</button>
              </form>
          </div>
      </div>
  </div>

  <div class="container">
      {% for contentB in contentBs %}
          <p><a href="">{{contentB.name}}</a></p>
          
      {% endfor %}
  </div>
</section>

<!--Content-->
<section class="detail-section">
  <div class="doc_content">
    <div class="row">
      <nav class="vertical-menu doc_nav col-sm-3" id="myScrollspy">
        <ul id="myUL" class="nav nav-pills flex-column" data-spy="affix" data-offset-top="205">
          {% for content in contents %}
          <li><span class="caret">{{content.name}}</span>
            <ul class="nested">
              {% for contentA in content.contenta_set.all %}
              <li><span class="caret">{{contentA.name}}</span>
                <ul class="nested">
                  {% for contentB in contentA.contentb_set.all|dictsort:"id" %}
                    <li><a class="nav-link" href="#section{{contentB.id}}">{{contentB.name}}</a></li>
                  {% endfor %}
              </li>
                </ul>
              {% endfor %}

            </ul>
          </li>
          {% endfor %}

        </ul>
        
      </nav>

      <div  class="spycontent col-sm-9" data-spy="scroll" data-target="#myScrollspy" data-offset="0">
        {% for content in contents %}
            <button style="display:block; margin-bottom: 5px;" aria-expanded="false"  class="btn btn-outline-info" data-toggle="collapse" data-target="#noidung{{content.id}}">{{content.name}}</button>
            <div class="collapse mt-4" id="noidung{{content.id}}">
            {% for contentA in content.contenta_set.all %}
                {% for contentB in contentA.contentb_set.all|dictsort:"id" %}
                    <div style="padding-left: 30px;" id="section{{contentB.id}}">    
                      <br/>

                      <h3 ><strong>{{contentB.name}}</strong></h3>
                      <p>{{contentB.description|safe}}</p>
                      
                    </div>
                {% endfor %}
            {% endfor %}
            </div>
        {% endfor %}

      </div>
    </div>
  </div>
  
</section>

{% endblock %}