{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
<style>
    .profile-pic{
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }
    .card{
        background-color: rgb(197, 243, 245);
    }
</style>

<div class="row">
    <div class="col-md-3 m-3">
        <div class="card card-header">
            <a class="btn btn-warning" href="{% url 'home' %}">&#8592; Back to Home </a>
        </div>
        <div class="card card-body">
            <h3 style="text-align: center;">Account settings</h3>
            <hr>
            <img class="profile-pic" src="{{request.user.customer.profile_pic.url}}">
        </div>
    </div>

    <div class="col-md-7 mt-3">
        <div class="card card-header">
            <h5>Update infomations</h5>
        </div>
        <div class="card card-body">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                
                <input class="btn btn-primary" type="submit" value="Update">
            </form>
        </div>
    </div>
</div>
{% endblock %}