<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'news:save' %}" method="post">
        {% csrf_token %}
        <h3>Soạn email mới:</h3>
        <p>Tiêu đề: {{ f.title }}</p>
        <p>Nội dung:</p>
        <p style="margin-left: 70px;">{{ f.content }}</p>
        <input type="submit" value="Thêm" style="margin-left: 70px; background-color: rgb(69, 69, 211); color: rgb(216, 202, 202);">
        <hr>
        <a href="{% url 'polls' %}">Quay lại</a>
    </form>
</body>
</html>